* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

.test {
  color: whitesmoke;
  font-size: 2rem;
}

body {
  background-color: rgb(51, 51, 51);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(255 215 0 / 80%);
  color: black;
}

/*! NAVBAR / SEARCH BAR / HEADER */

.navbar {
  position: relative;
  height: 375px;
  display: block;
  background-image:
    linear-gradient(to bottom,
      rgba(11, 11, 97, 0.8) 0%,
      rgba(51, 51, 51, 1) 80%),
    url("./images/movies-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  /* z-index: 100; */
}

.navbar-nav {
  flex-direction: row;
  font-size: 1.25rem;
  --bs-nav-link-color: rgba(255 215 0 / 100%);
  --bs-nav-link-hover-color: whitesmoke;
  font-weight: 500;
  /* z-index: 100; */
}

.navbar-nav .nav-item {
  margin-right: 1rem;
}

.input__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* z-index: 100; */
}

.input__row h1 {
  /* text-align: center; */
  color: whitesmoke;
  margin-bottom: 1.5rem;
}

.search__input--wrapper {
  position: relative;
  /* width: clamp(260px, 1rem + 60vw, 450px); */
}

.search__input {
  background-color: rgba(255 215 0 / 60%);
  color: rgba(255, 255, 211, 1);
  border-radius: 50px;
  width: 450px;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 20px;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 1px 3px 10px 0px black; */
}

.search__input::placeholder {
  /* color: rgba(255 255 211 / 100%); */
  color: #333;
  transition: all 0.3s ease-in-out;
}

.search__input:hover {
  background-color: rgba(255 215 0 / 80%);
  color: rgba(255 255 211 / 100%);
}

.search__input:hover::placeholder {
  color: rgba(255 255 211 / 100%);
}

.search__input:focus {
  background-color: rgba(255 215 0 / 80%);
  color: rgba(255 255 211 / 100%);
}

.search__input:focus::placeholder {
  color: rgba(239, 5, 5, 0);
}

.search__icon {
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgba(0, 0, 75, 1);
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}

.search__icon:hover {
  color: rgba(255 255 211 / 100%);
}

/*! HOME */

#home .col {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  /* margin-bottom: 7rem; */
}

/*! HomeImage */

#home__img--wrapper {
  margin-bottom: 10rem;
}

.cinema {
  width: 250px;
}

#home__img--wrapper h2 {
  color: whitesmoke;
}

#home__img--wrapper h2 .movie {
  color: rgba(255 215 0 / 100%);
  text-decoration: none;
}

/*! MOVIES */

#movies .col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* min-height: 100vh; */
  margin-bottom: 7rem;
}

/*! RESULTS  */

.horror {
  margin: 6rem 0;
  width: 300px;
}

.errorMessage {
  color: whitesmoke;
}

#results {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(245, 245, 245, 0.25);
  box-shadow: 3px 3px 10px 0px;
  --bs-card-border-radius: 1.5rem;
  overflow: hidden;
  margin: 2.5rem 2rem;
  width: 250px;
  height: 400px;
}

.card>.list-group {
  border: 0;
}

.list-group-item {
  border: 0;
  border-left: 0;
  border-right: 0;
}

.results .card-img-top {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.results ul li {
  color: whitesmoke;
  background-color: #333;
  text-align: center;
}

/*! Skeleton Load  */

.skeleton .card-img-top,
.skeleton ul li {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton .card-img-top {
  width: 100%;
  height: 100%;
}

.skeleton ul li {
  height: 40px;
}

.poster__skeleton,
.title__skeleton,
.year__skeleton {
  background-color: rgba(245, 245, 245, 0.25);
  border-radius: 0.5rem;
}

.poster__skeleton {
  height: 90%;
  width: 85%;
}

.title__skeleton {
  height: 100%;
  width: 80%;
}

.year__skeleton {
  height: 100%;
  width: 30%;
}

#results__wrapper {
  width: 100%;
}

/*! SortBar */

#sortBar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

#sort {
  border-radius: 0.5rem;
  border: 0;
}

#sort option {
  /* border-radius: 1rem; */
  border: 0;
}

#searchTerm {
  color: whitesmoke;
}

#searchTerm span {
  color: rgba(255 215 0 / 100%);
  margin-left: 1rem;
}

/*! MOVIES INFO */

#movieInfo .col {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-bottom: 5rem;
}

/*! FOOTER */

footer {
  /* margin-top: 5rem; */
  background-color: rgba(11, 11, 97, 1);
  color: whitesmoke;
  height: 70px;
  border-top: 1px solid rgb(255, 215, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  padding: 1rem 0.5rem 0 0.5rem;
}